<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>First Name:</mat-label>
        <input matInput
               placeholder="Jack"
               formControlName="firstName">
        <mat-error *ngIf="fieldIsEmpty('firstName')">
          name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name:</mat-label>
        <input matInput
               placeholder="Smith"
               formControlName="lastName">
        <mat-error *ngIf="fieldIsEmpty('lastName')">
          last name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Birthday:</mat-label>
        <input type="date"
               matInput
               placeholder="Birthday"
               formControlName="birthday">
        <mat-error *ngIf="fieldIsEmpty('birthday')">
          birthday is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Technology:</mat-label>
        <mat-select formControlName="technology">
          <mat-option
            class="example-radio-button"
            *ngFor="let tech of technologies"
            [value]="tech">
            {{ tech }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="fieldIsEmpty('technology')">
          technology is required
        </mat-error>
      </mat-form-field>

      <div [hidden]="fieldIsEmpty('technology')">
        <mat-form-field class='versions'>
          <mat-label>Version:</mat-label>
          <mat-select formControlName="technologyVersion">
            <mat-option
              class="example-radio-button"
              *ngFor="let version of formService.technologiesVersions|async"
              [value]="version">
              {{ version }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="fieldIsEmpty('technologyVersion')">
            technology version is required
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input type="email"
               matInput
               formControlName="email"
               myAsyncValidator>
        <mat-error *ngIf="form.controls['email'].hasError('forbiddenEmail')">
          email is already in use
        </mat-error>
        <mat-error *ngIf="fieldIsEmpty('email')">
          email is required
        </mat-error>
      </mat-form-field>

      <div class="hobbies" formArrayName="hobbies">
        <div class="hobby"
             *ngFor="let hobby of hobbies.controls; let i = index"
             [formGroupName]="i">
          <div class="hobby-header">
            <span>{{ i + 1 }}. Hobby</span>
            <button *ngIf="i > 0"
                    type="button"
                    mat-raised-button
                    color="accent"
                    (click)="onDeleteHobby(i)">
              remove
            </button>
          </div>

          <div class="hobby-body">
            <mat-form-field>
              <mat-label> Name</mat-label>
              <input matInput formControlName="hobbyName"/>
              <mat-error *ngIf="hobbies.controls[0].get('hobbyName')?.hasError('required')">
                hobby name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label> Duration</mat-label>
              <input matInput formControlName="hobbyDuration"/>
              <mat-error *ngIf="hobbies.controls[0].get('hobbyDuration')?.hasError('required')">
                hobby duration is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onAddHobby()">
          add
        </button>
      </div>

      <button
        mat-raised-button
        type="submit"
        [disabled]="!form.valid">
        submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
